.NavbarBlock {
    .ticker-banner {
        align-items: center;
        background: #392373;
        display: flex;
        justify-content: center;
        max-height: 48px;
        h2 {
            color:#fff;
            font-size:1rem;
            margin: 0px;
            padding:8px;
        }
    }
    .navbar-toggler {
        background: #61628f;
        color: #fff;
        border: none;
        box-shadow: none;
    }
        .cart-count-bubble {
            top: 2px;
            right: 2px;
            span {
                color:#fff;
                font-size:0.8rem;
            }
    }
    .carticon {
        margin-left:15px;
        svg {
            color:#fff
        }
    }
}